@import '../base.scss';

footer{
    width: auto;
    height: 112px;
    background-color: $coffee;
    font-family: $fontElegant;

    p,h3{
        color: white;
    }
}

@media screen and (min-width: $min-width) { 
    .sizeFin{
        font-size: 1.5rem;
    }

    footer{
        margin-top: 7%;
    }

    p{
        font-size: 1.2em;
    }

}